*{
    font-family: Roboto ,Arial, Helvetica, sans-serif ;

}

.pageTitle {
    font-size: 20px;
    margin-right: 200px;
}

body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
}

/* Banner Formatting */
.banner {
    background-color: rgba(223, 67, 67, 0.908);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerButton {
    margin-left: auto;
    margin-bottom: 5px;
    }
/* Banner Formatting */

.essentialInfo  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* essential links and info could be combined into one container but having sperate containers allows for easier formatting if so desired later on */
.essentialLinks{
    display: flex;
    flex-direction: column;
    align-items: center;

}

 /*@media (min-width:360px) {
   * {
    font-size: 16px;
   } 
   .pageTitle {
font-size: 32px;
}
}*/

/*@media (min-width:760px) {
    * {
    font-size: 19px;
    } 
    .pageTitle {
font-size: 38px;
}*/
    
/* Header and Footer Formatting */
header {
    display: flex;
    justify-content: space-between;
}

.search {
display:flex;
align-items: end;
margin: 10px;
}

.logo{
    display: flex;
    align-items:end ;
}

.homeLink{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 5px;
    margin-right: 5px;
}
.helpContact {
    display:flex;
    align-items: end;
    margin: 10px;
}

/* Header and Footer Formatting */

button {
    background-color: blue;
    margin-right: 10px;
}
img {
    height:auto;
    width:200px ;
}

.commonSymptoms{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.media {
    display: flex;
    align-items: flex-start;
}

.media .content {
    flex: 1;
    padding: 10px;
}

.guidanceContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.guidanceContainerSmall{
    width: 600px;
    border: 1px solid;
    padding: 10px;
    border-color: black;
}